<div class="ribbon">
  <a href="">Development</a>
</div>
<div class="checkbox c-checkbox">
  <label>
    <input type="checkbox">
    <span class="fa fa-check"></span>Remember</label>
</div>

<div class="circle circle-lg circle-outline circle-primary">
  circle-primary
</div>
<%= javascript_pack_tag 'hello_vue' %>
<%= stylesheet_pack_tag 'hello_vue' %>

